#####################################################################
#   Macros
#####################################################################

[gcode_macro _CLEAN_NOZZLE_GANTRY]
#I'm no longer using this after installing AFC
#doesnt do nozzle temp control - other macros must handle that before/after call
#ends on the rtv silicone patch where another macro can lower the temp to prevent oozing
gcode:
  {% set wipe_iterations = 10 %}

  {% set wipe_speed = 5000 %}
  {% set move_speed = 3000 %}
    
  {% set left_wipe_pos = 44 %}
  {% set right_wipe_pos = 81 %}
  {% set mid_wipe_pos = (left_wipe_pos + right_wipe_pos) / 2 %}
  {% set wiper_max_y = 353 %}
  {% set wiper_min_y = 347 %}

  {% set silicone_mid_x = 38 %}
  {% set silicone_max_x = 40 %}
  {% set silicone_min_x = 36 %}
  {% set silicone_max_y = 353 %}
  {% set silicone_min_y = 348 %}

   SAVE_GCODE_STATE NAME=clean_nozzle_gantry
   G90

   G1 X{right_wipe_pos} F{move_speed}
   G1 Y{(wiper_max_y + wiper_min_y) / 2} F{move_speed}
   G1 X{left_wipe_pos} F{move_speed}

  ;wiping in middle of wiper
   {% for i in range(wipe_iterations) %}
		G1 X{right_wipe_pos} F{wipe_speed}
        G1 X{left_wipe_pos} F{wipe_speed}
   {% endfor %}


   G1 Y{wiper_max_y} F{move_speed}
   ;wipe in diagnol motion
  {% for i in range(wipe_iterations) %}
		G1 X{mid_wipe_pos} Y{wiper_min_y} F{wipe_speed}
        G1 X{right_wipe_pos} Y{wiper_max_y} F{wipe_speed}
        G1 X{mid_wipe_pos} Y{wiper_min_y} F{wipe_speed}
        G1 X{left_wipe_pos} Y{wiper_max_y} F{wipe_speed}
   {% endfor %}

  {% set random_x = range(silicone_min_x, silicone_max_x + 1)|random %}
  {% set random_y = range(silicone_min_y, silicone_max_y + 1)|random %}
  G1 X{random_x} Y{random_y} F{move_speed}

  RESPOND MSG="Wiping sequence done"
   
   RESTORE_GCODE_STATE NAME=clean_nozzle_gantry

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X175 Y175 Z30 F3600
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    {% set initial_tool = params.TOOL|default("0")|int %}
    #{% set off_wiper_and_silicone_x = 25 %}
    #{% set off_wiper_and_silicone_y = 345 %}
    {% set staging_x = 171 %}
    {% set staging_y = 353 %}
    {% set hotend_temp_init = params.HOTEND_TEMP_INIT|int %}
    {% set hotend_temp_tap = 150 %}
    {% set bed_temp_init = params.BED_TEMP_INIT|int %}
    {% set chamber_temp = params.CHAMBER_TEMP|int %}
    {% set filament_type = params.FILAMENT_TYPE|string %}
    {% set bed_heatsoak_from_cold_sec = 1800 %} ;	30 min 
    {% set bed_heatsoak_from_hot_sec = 300 %} ;		5 min
	{% set chamber_heatsoak_from_cold_sec = 3600 %} ;	1 hour
	{% set chamber_heatsoak_from_hot_sec = 300 %}	;		5 min

    G90 ; use absolute coordinates
    M83 ; extruder relative mode

    M140 S{bed_temp_init} ; override slicer S0
    RESPOND MSG="heating to tap temp"
    M109 S{hotend_temp_tap}
    RESPOND MSG="finished heating to tap temp"

	;home before anything is up to temp
    G32 ; home, QGL, home                          
    G1 Z20 F3000

    ; load correct lane
    RESPOND MSG="Loading lane {initial_tool + 1}"
    G0 X{staging_x} F100
    G0 Y{staging_y} F100
    AFC_PARK
    M109 S{hotend_temp_init}
    T{initial_tool}
    AFC_PARK
    ; toolchange done
    
    M104 S0 ; hotend off

    ; heatsoak stuff
	{% if chamber_temp > 0 and (filament_type == "ABS" or filament_type == "ASA") %}
		{% if printer["heater_generic heater_chamber"].temperature > chamber_temp * 0.9 and printer.heater_bed.temperature > bed_temp_init * 0.9 %} ; already hot from prev print
			{% set chamber_heatsoak_time = chamber_heatsoak_from_hot_sec %}
			{% set chamber_dwell_msg = "Chamber and bed already heatsoaked" %}
        {% elif printer["heater_generic heater_chamber"].temperature > chamber_temp * 0.9 and printer.heater_bed.temperature <= bed_temp_init * 0.9 %}
            {% set chamber_heatsoak_time = bed_heatsoak_from_cold_sec %}
			{% set chamber_dwell_msg = "Bed wasn't heatsoaked, but chamber was" %}
		{% else %}
			{% set chamber_heatsoak_time = chamber_heatsoak_from_cold_sec %}
			{% set chamber_dwell_msg = "Chamber wasn't heatsoaked" %}
		{% endif %}
		M104 S0 ; turn off hotend so doesnt affect toolhead chamber thermistor
		M190 S{bed_temp_init} ; wait for bed to reach temp before starting bed fans
		SET_HEATER_TEMPERATURE HEATER=heater_chamber TARGET={chamber_temp} ; set bed fans fake heater
		RESPOND MSG="Heating the chamber to {chamber_temp}C"
		TEMPERATURE_WAIT SENSOR="heater_generic heater_chamber" MINIMUM={chamber_temp}
		RESPOND MSG="{chamber_dwell_msg}"
		;G4 P{chamber_heatsoak_time * 1000}
		{% for i in range((chamber_heatsoak_time / 60)|int) %}
			RESPOND MSG="Chamber heatsoak: {chamber_heatsoak_time / 60 - i} minutes left"
			G4 P60000 ; Wait 1 minute
		{% endfor %}
		;M190 S{bed_temp_init} ; bed should already be hot at this point but just to make sure

		; reheat to tap temp
		RESPOND MSG="heating to tap temp"
		M109 S{hotend_temp_tap} 
		RESPOND MSG="finished heating to tap temp"
	{% elif chamber_temp == 0 and (filament_type == "PLA" or filament_type == "PETG") %}
		RESPOND PREFIX="WARNING: " MSG="Ensure doors are open to prevent clog for {filament_type}"
		{% if printer.heater_bed.temperature > bed_temp_init * 0.9 %} 
			{% set bed_heatsoak_time = bed_heatsoak_from_hot_sec %}
		{% else %}
			{% set bed_heatsoak_time = bed_heatsoak_from_cold_sec %}
		{% endif %}
		RESPOND MSG="Waiting for bed to reach temp"
		M190 S{bed_temp_init}
		RESPOND MSG="Heat soaking bed for {bed_heatsoak_time / 60} minutes"
		;G4 P{bed_heatsoak_time * 1000}
		{% for i in range((bed_heatsoak_time / 60)|int) %}
			RESPOND MSG="Bed heatsoak: {bed_heatsoak_time / 60 - i} minutes left"
			G4 P60000 ; Wait 1 minute
		{% endfor %}
	{% else %}
		{% set error_msg_filament_type = "Unknown filament type combination in PRINT_START: " %}
		RESPOND TYPE=error MSG="{error_msg_filament_type} {filament_type} {chamber_temp}. Cancelling print"
		CANCEL_PRINT
		{action_raise_error()}
	{% endif %}
    ; end heatsoak stuff

	RESPOND MSG="Finished Heatsoaking"
	; everything is heated up now do home, qgl, bedmesh, ect.

    ; nozzle wipe
    #RESPOND MSG="Wiping nozzle"
    #M109 S{hotend_temp_init}
    #_CLEAN_NOZZLE_GANTRY
    
    M109 S{hotend_temp_tap}
    RESPOND MSG="Final home and QGL"
    G32 ; clear mesh, home, QGL, home
    
    BED_MESH_CALIBRATE

    G0 X{staging_x} F100
    G0 Y{staging_y} F100
    AFC_PARK
    M109 S{hotend_temp_init}
    G0 X{staging_x} F300
	Smart_Park ; KAMP macro park toolhead by print

	#SET_FILAMENT_SENSOR SENSOR=runout_sensor ENABLE=1
    #LINE_PURGE ; KAMP macro purge
    SQUIGGLY_PURGE
    SKEW_PROFILE LOAD=Califlower
    
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SET_SKEW CLEAR=1
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament

    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    ;TURN_OFF_HEATERS
    M104 S0
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
	#SET_FILAMENT_SENSOR SENSOR=runout_sensor ENABLE=0
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro

        #SET_FILAMENT_SENSOR SENSOR=runout_sensor ENABLE=0                                    ; disable filament sensor
        SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume
        BASE_PAUSE                                                                           ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
            G91                                                                              ; relative positioning
            G1 Z{z} F900                                                                     ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000   ; park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        M104 S0                                                                              ; turn off hotend
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                       ; set timeout to 12 hours
    {% endif %}


[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        #SET_FILAMENT_SENSOR SENSOR=runout_sensor ENABLE=1                          ; enable filament sensor
        #INITIAL_RGB                                                                    ; reset LCD color
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                        ; wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        BASE_RESUME                                                                  ; resume print
    {% endif %}


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT


[gcode_macro M600]
gcode:
    #LCDRGB R=0 G=1 B=0  ; Turn LCD green
    PAUSE                ; Pause


[delayed_gcode DISABLEFILAMENTSENSOR]
initial_duration: 1
gcode:
    #SET_FILAMENT_SENSOR SENSOR=runout_sensor ENABLE=0

